@model RestauChoice.ViewModels.AccueilViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div>
    @Html.Partial("~/Views/Home/TestConnexion.cshtml")
</div>
<br />
<ul>
    <li>
        @Html.ActionLink("Se Connecter", "PageConnexion", "Home")
    </li>
    <li>
        @Html.ActionLink("Créer un utilisateur", "createTheUser", "Home")
    </li>
</ul>
<p>
</p>

<div>
    @Html.LabelFor(model => model.Date)
    @Model.Date.ToString("dd/MM/yyyy")
</div>

<p>Les restaurants (ps le lien ne fonctionne pas c'est un exemple)</p>
<table>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Adresse
        </th>
        <th>
            Action
        </th>
    </tr>
    @{
        foreach (var resto in Model.ListeDesRestos)
        {
            <tr>
                <td>@resto.Nom</td>
                <td>@resto.Adresse</td>
                <td>@Html.ActionLink("Modifier le restaurant", "ModifierRestaurant", "Restaurant", new { id = @resto.RestaurantId }, null)</td>
            </tr>
        }
    }

</table>
<p>Méthode par défault :</p>
<ul>
    <li>
        @Html.ActionLink("Les Restaurants", "Index", "Restaurants")
    </li>
</ul>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>